*{
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    user-select: none;
}
main{
    display: flex;
    width: 100%;
    height: 100vh;
    
}
.home{
    display: flex;
    width: 90%;
    height: 100vh;
    margin: auto;
    text-align: center;
    
}
.boxHome{
    width: 100%;
    margin: auto;
    z-index: 999;
}
.boxHome h1{
    font-size: 80px;
    font-family: "Coda", system-ui;
    font-weight: 900;
    font-style: normal;
    color: #fb9e25;
}
.boxHome p{
    font-size: 28px;
    margin: 20px 0;
    font-family: "Coda", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #555;
}

.myButton {
	box-shadow:inset 0px 0px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:14px;
	border:2px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:9px 24px;
	text-decoration:none;
	text-shadow:0px 2px 0px #cc9f52;
    box-shadow: 4px 4px 4px #33333333;
}
.myButton:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.myButton:active {
	position:relative;
	top:1px;
}
  
  /* Estilos para telas extra pequenas (dispositivos móveis) */
  @media only screen and (max-width: 576px) {
    .boxHome h1{
        font-size: 40px;
        font-family: "Coda", system-ui;
        font-weight: 900;
        font-style: normal;
        color: #fb9e25;
        text-shadow: 2px 2px 2px #33333333;
    }
    .boxHome p{
        font-size: 22px;
        margin: 20px;
        font-family: "Coda", system-ui;
        font-weight: 400;
        font-style: normal;
        color: #555;
    }
  }
  /* ---- particles.js container ---- */ 
#particles-js{ 
    position: absolute; 
    width: 100%; 
    height: 100vh; 
    background-color: transparent; 
    background-position: 50% 50%;
    background-image: url('/img/homeBackgroud.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 100% 0px 0px #33333333;
} 
/* ---- stats.js ---- */ 
.count-particles{ 
    background: transparent; 
    position: absolute; 
    top: 48px; 
    left: 0; 
    width: 80px; 
    color: #13E8E9; 
    font-size: 
    .8em; 
    text-align: left; 
    text-indent: 4px; 
    line-height: 14px; 
    padding-bottom: 2px; 
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: bold;
} 
.js-count-particles{ 
    font-size: 1.1em; 
} 
#stats, 
.count-particles{ 
    -webkit-user-select: none; 
    margin-top: 5px; 
    margin-left: 5px; 
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    user-select: none;
} 
#stats{ 
    border-radius: 3px 3px 0 0; 
    overflow: hidden; 
} 
.count-particles{ 
    border-radius: 0 0 3px 3px; 
} 