/* CSS para a página de postagens */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

#logo {
    width: 100px;
}

h1 {
    margin: 10px 0;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

#posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    max-width: 1200px;
}

.post {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.post h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.post img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.post p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#add-post-form {
    margin: 20px auto;
    max-width: 600px;
}

#add-post-form input[type="text"],
#add-post-form textarea {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-post-form textarea {
    width: 90%;
    height: auto;
}

#add-post-form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#voltarBtn {
    text-align: center;
    margin-top: 10px;
}

#voltarBtn button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
