body {
  color: #444;
  font-family: Tahoma;
  display: flex;
  height: 96vh;
  background-image: url('/img/backgroud.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#app {
  width: 512px;
  margin: auto;
  box-shadow: 4px 4px 20px #888;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffffa9;
}

.center {
  text-align: center;
}
.center img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.startHidden {
  display: none;
}

h3 {
  margin: 4px;
  font-weight: normal;
}

input {
  width: 80%;
  margin: 5px 4px;
  padding: 5px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}
#submitAuthForm {
  background-color: #4c4;
  font-size: 22px;
  color: white;
  padding: 4px 12px;
  margin: 4px 0 20px 0;
  border-radius: 8px;
  border: none;
  outline: none;
}

button:hover {
  opacity: 0.75;
  cursor: pointer;
}
.danger{
  background-color: #393939;
  font-size: 13px;
  color: #f9f9f9;
  padding: 4px 12px;
  margin: 4px 0 20px 0;
  border-radius: 8px;
  border: none;
  outline: none;
}
#postUser{
  background-color: #4c4;
  font-size: 18px;
  color: #f9f9f9;
  padding: 4px 12px;
  margin: 20px auto 20px auto;
  border-radius: 8px;
  border: none;
  outline: none;
}

.alternative{
  margin: 10px;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  color: #fff;
}
p {
  margin: 0;
}

.alternative {
  background-color: rgb(196, 139, 5);
}

#loading{
  position: relative;
}
#loading img {
  width: 50px;
}
#userEmail{
  font-size: 10px;
  margin: 0 0 20px 0;
}
#networks{
  margin: 15px 0 0 0;
}
#auth img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 8px 2px;
}

#auth img:hover {
  opacity: 0.75;
  transform: scale(1.1);
}

#userImg {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}