body {
  color: #444;
  font-family: Tahoma;
  display: flex;
  height: 96vh;
  background-image: url('/img/backgroud.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#app {
  width: 512px;
  margin: auto;
  box-shadow: 4px 4px 20px #888;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffffa9;
}

.center {
  text-align: center;
}
.center img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.startHidden {
  display: none;
}

h3 {
  margin: 4px;
  font-weight: normal;
}

input {
  width: 80%;
  margin: 4px;
  padding: 4px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  background-color: #4c4;
  font-size: 15px;
  color: white;
  padding: 4px 8px;
  margin: 4px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button:hover {
  opacity: 0.75;
  cursor: pointer;
}

p {
  margin: 0;
}

.alternative {
  background-color: rgb(196, 139, 5);
}

#loading{
  position: relative;
}
#loading img {
  width: 50px;
}
#userEmail{
  margin:  20px 0;
}